__pycache__/
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.env
*.sqlite3
.vscode/
.idea/
*.bak

# git
.git/
.gitignore

# python
venv/
poetry.lock
.python-version


logs/
data/
**/secret.yaml
.mypy_cache/
.pytest_cache/
.ruff_cache/
